/* 
Theme Name: Child Theme 1
Template: twentynineteen
Author: Rosa Sahlholt
Description: Stylish Child Theme based on Twenty Nineteen
Version: 1.3.6.4
*/
img {
  width: 100%;
}
.entry .entry-title:before {
  display: none;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "Courier New", Courier, monospace;
}

.main-navigation a {
  color: rgba(1, 1, 1, 1) !important;
}

.main-navigation li a {
  background-color: rgb(255, 255, 255);
}

a {
  font-family: courier;
  font-weight: 100;
}

ul a:hover {
  background-color: rgba(239, 217, 205, 0.8);
}

a {
  padding: 10px;
}

label {
  font-family: courier;
}

#wpforms-submit-172 {
  color: white;
  background-color: black;
  border-radius: 20px;
  font-family: courier;
}

#colophon {
  display: none;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #99cccd;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1.2;
  outline: none;
  padding: 0.76rem 1rem;
  text-decoration: none;
  vertical-align: bottom;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #e2e2e0;
  cursor: pointer;
}
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background: #75c0c7;
  text-decoration: underline;
  outline: none;
}

.valgt {
  background: #75c0c7;
  text-decoration: underline;
}

.buttonContainer {
  align-content: center;
  position: relative;
}
.buttonContainer img {
  width: 100%;
}

.buttonContainer button {
  position: absolute;
  bottom: 50%;
  left: 25%;
  padding: 1em 1.5em;
  z-index: 1;
  width: 220px;
}

.filter_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  row-gap: 20px;
  column-gap: 40px;
  padding: 2rem;
  margin: auto;
  max-width: 1700px;
}

#oversigt {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  row-gap: 20px;
  column-gap: 40px;
  padding: 2rem;
  margin: auto;
  max-width: 1400px;
}

#oversigt div p.kortbeskrivelse {
  font-size: 0.7em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

// Til single page

.infoboks1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
