/* 
Theme Name: Child Theme 1
Template: twentynineteen
Author: Rosa Sahlholt
Description: Stylish Child Theme based on Twenty Nineteen
*/

.entry .entry-title:before {
  display: none;
}

h1,
h2,
h3,
h4,
p,
li,
a {
  font-family: "Courier New", Courier, monospace;
}

.main-navigation a {
  color: rgba(1, 1, 1, 1) !important; 
}

.main-navigation li a{
  background-color: rgb(255,255,255)
}

a {font-family: courier; font-weight: 100}

ul a:hover {background-color: rgba(239, 217, 205, 0.8)}

a {padding: 10px}